<div class="jumbotron text-center">
    <h3><span class="font-weight-bold">Details</span></h3>
    <div class="row">
        <div class="col-md-3">
            <p>Serial:{{ serial }}</p>
        </div>
        <div class="col-md-3">
            <p>Active/Passive:{{ ap }}</p>
        </div>
        <div class="col-md-3">
            <p>Name:{{ name }}</p>
        </div>
        <div class="col-md-3">
            <p>Location:{{ location }}</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newTrapDetailModal">Edit Trap Details</button>
        </div>
        <!-- Modal -->
        <div id="newTrapDetailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Trap Details</h4>
                </div>
                <div class="modal-body">
                    <label for="trapName">Trap Name:</label>
                    <input name="trapName" id="newTrapName" type="text" class="form-control" placeholder="{{name}}">
                    <label for="trapLocation">Trap Location:</label>
                    <input name="trapLocation" id="newTrapLocation" type="text" class="form-control" placeholder="{{location}}">
                    <p id="newTrapMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="setTrapDetail()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <h3><span class="font-weight-bold">Controls</span></h3>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-info btn-lg" ng-click="takePhoto()">
                <span class="glyphicon glyphicon-camera"></span> Take Photo
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info btn-lg" ng-click="setDoor(0)">
                <span class="glyphicon glyphicon-lock"></span> Open Door
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info btn-lg" ng-click="setDoor(1)">
                <span class="glyphicon glyphicon-lock"></span> Close Door
            </a>
        </div>
        <div class="col-md-3">
            <a href="/#!/photos/" class="btn btn-info btn-lg" >
                <span class="glyphicon glyphicon-picture"></span> All Photos
            </a>
        </div>
    </div>
    <br><br>
    <h3><span class="font-weight-bold">Last Photo</span></h3> 
    <div class="row">
        <figure class="figure">
            <img ng-src="{{lastPhotoSrc}}" class="figure-img img-fluid rounded" height="250" width="250"/>
            <figcaption class="figure-caption"><strong>{{lastPhotoDesc}}</strong></figcaption>
        </figure>
    </div>
</div>